.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    overflow: hidden;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 0.2s;
}

.ratingText {
    font-size: 1.3rem;
    height: 20px;
    text-align: center;
    font-weight: 600;
    color: #000;
}

.bottom-right {
    position: relative;
    bottom: 10px;
    right: 10px;
    width: 200px; 
    height: 200px; 
    background-color: #f1f1f1; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-inline: auto;
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5); 
    animation: fadeIn 0.5s;
}

.dialog {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleUp {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.dialog-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dialog-button:hover {
    background-color: #0056b3;
}

.dialog-img {
    background-image: url('https://images.unsplash.com/photo-1512314889357-e157c22f938d?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}